spring:
  datasource:
    url: jdbc:mysql://localhost:3306/disasterdb?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: eigenvalue03
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: arnavaru03@gmail.com
    password: gzzs aqln vjmy dbzc
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080
